@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
$rojo: #C70B0B;

body {
	margin: 0;
	padding: 0;
	font-family: Open Sans;
	font-size: 20px;
	color: #333;
}
a {
	text-decoration: none;
	color: #333;
}
ul {
	padding: 0;
	margin: 0;
}
li strong {
	font-weight: 600;
}
sub {
	vertical-align: middle;
	font-size: 0.8em;
}
.visible-xs {
	display: none !important;

	@media (max-width: 768px){
		display: block !important;
	}
}
.header {
	background: $rojo;
	text-align: center;
	padding: 20px 10px;

	h1 {
		margin: 0;
		font-weight: 300;
		font-size: 1.6em;

		a {
			color: #fff;
		}
	}
}
%block {
	display: block;
	padding: 20px;
	border-bottom: 1px solid #BBB;
	color: #333;
}
.sections {
	.link {

		li {
			display: block;
		}
		a {
			@extend %block;

			&:hover {
				text-decoration: none;
				background: #eee;
			}
		}
		i {
			margin-right: 10px;
			color: $rojo;
		}
	}
	.description {
		font-size: 0.85em;

		li {
			@extend %block;
			padding: 10px 20px;

			&.true label {
				text-decoration: line-through;
			}
		}
		label {
			font-weight: normal;
			cursor: pointer;
		}
	}
}
.about {
	a {
		font-weight: 600;
	}
}
