<div ng-controller="Telefonos">
	<ul class="link">
		<li><a href="#home"><i class="fa fa-briefcase"></i> Acerca del Proyecto</a></li>
	</ul>
	<ul class="description">
		<li>Nombre: Sismos What to do</li>
		<li>Descripción: Aplicación web para enseñar a las personas que acciones realizar antes, durante y después de un sismo. Así como también números telefónicos que le serán de ayuda.</li>
		<li>Autor: <a href="https://twitter.com/cesjam7">César Aquino Maximiliano</a></li>
		<li>Versión: 1.0</li>
		<li>Herramientas: AngularJS</li>
		<li>GitHub: <a href="https://github.com/cesjam7/sismos-wtd">Sismos-wtd</a></li>
		<li>JSON: <a href="../json/sismos_wtd.json">wtd.json</a></li>
	</ul>
	<ul class="link">
		<li><a href="#home"><i class="fa fa-chevron-left"></i> <span>Volver al menú</span></a></li>
	</ul>
</div>