<ul class="link">
	<li><a href="#procedimientos/antes"><i class="fa fa-reply"></i> Antes del sismo</a></li>
	<li><a href="#procedimientos/durante"><i class="fa fa-warning"></i> Durante el sismo</a></li>
	<li><a href="#procedimientos/despues"><i class="fa fa-share"></i> Después del sismo</a></li>
	<li><a href="#mochila"><i class="fa fa-briefcase"></i> Mochila para Emergencias</a></li>
	<li><a href="#emergencias119"><i class="fa fa-bullhorn"></i> ¿Qué es el 119?</a></li>
	<li><a href="#telefonos"><i class="fa fa-phone"></i> Teléfonos de emergencia</a></li>
	<li><a href="https://twitter.com/intent/tweet?text=Qué hacer en un sismo: Todo lo que necesitas saber está en&url=http://jovenred.com/sismos-wtd"><i class="fa fa-twitter"></i> Compártelo en Twitter</a></li>
	<li class="visible-xs"><a href="whatsapp://send?text=Lo que debes hacer en caso de sismo http://jovenred.com/sismos-wtd"><i class="fa fa-whatsapp"></i> Envíalo por Whatsapp</a></li>
	<li><a href="#about"><i class="fa fa-info-circle"></i> Acerca del proyecto</a></li>
</ul>